.main-body{
    margin: 100px var(--width-offset)
}







#second-section{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.main-body-image{
    margin: 15px 0;
    width: 100%;
    height: 220px
}

.learn-more{
    color: var(--orange);
    line-height: 1.5;
    font-size: 18px;
}
