.banner-image{
    width: 100%;
    height: 465px;
}

.two-sections{
    display: flex;
    /* height: 700px;
    overflow-y: scroll; */
}

.first-section{
    margin: 30px 70px;
    width: 20vw;
    color: var(--green);
    font-size: 22px;
    line-height: 1.5;
    /* position: sticky;
    top: 0; */
}

.second-section{
    margin: 30px 140px;
    width: 80vw;
}
