#nav-bar{
    height: 85px;
    background-color: var(--brown);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav-bar-ele{
    padding: 13.5px 18px;
    font-size: 27px;
    font-family: 'Pacifico';
    color: var(--orange);
    letter-spacing: 0.1em;
}

.right-nav-bar-ele {
    padding: 13.5px 18px;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--orange);
    letter-spacing: 0.1em;
}

/* dropdown CSS */
.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
