#footer{
    background-color: var(--brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-item{
    color: white;
    margin: 10px;
    font-size: 18px;
}
