/* TODO Add site wide styles */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* CSS RESET FROM MEYERWEB */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
}

/* site-wide styling */
:root{
	--orange: #d48508;
	--green: #17720D;
	--brown: #26190d;
	--width-offset: 10vw;
}

.italics{
	font-style: italic;
}

.bold{
	font-weight: bold;
}

/* element styles */
p{
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 20px;
}

li{
	line-height: 1.3;
	margin: 9px 0px 9px 40px;
	font-size: 18px;
}

h2{
	color: var(--green);
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0 0 10px;
}
